@use 'src/styles/mixin' as mixins;
@use 'src/styles/colors' as colors;
@use 'src/styles/variables' as *;

.navigationContainer {
  display: flex;
  height: 72px;
  padding: 16px;
  background-color: colors.$primary;
  align-items: center;
  justify-content: space-between;
  svg {
    fill: colors.$white;
    transform: scale(1.5);
  }
  @include mixins.tablet {
    height: 72px;
    padding: 16px 32px;
    svg {
      display: none;
    }
  }

}

.navigationLinkContainer {
  display: none;
  @include mixins.tablet {
    display: flex;
    gap: 12px;
    font-size: $x-large;
  }

  & > a {
    position: relative;
    
    &:hover:after{
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      border-bottom: 2px solid colors.$secondary;
    }
  }
}

.title {
  font-size: $large;
  color: colors.$white;
  font-weight: 700;
  @include mixins.tablet {
    font-size: $xx-large;
    font-weight: 700;
  }
}




