@use 'src/styles/mixin' as mixins;
@use 'src/styles/colors' as colors;
@use 'src/styles/variables' as *;

.navigationContainer {
  display: flex;
  background-color: colors.$primary;
  height: 36px;

  @include mixins.tablet {

  }

}

.title {
  font-size: $large;
  color: colors.$white;
}

