@use '/src/styles/mixin' as mixins;
@use '/src/styles/colors' as colors;
@use '/src/styles/font-size' as *;

.landingHomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: 1s ease-in-out slidein;
  height: 100dvh;
  text-align: center;
  padding: 16px;
  @include mixins.tablet {
    flex-direction: row;
    text-align: left;
    gap: 32px;
  }
}

.landingDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @include mixins.tablet {
    align-items: flex-start;
  }

}

.landingIllustrationContainer {
  transform: scale(0.8);
  @include mixins.tablet {
    transform: scale(1);
  }
}

.landingButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 320px;
  @include mixins.tablet {
    flex-direction: row;
    width: 100%;
  }

}

.landingTitle {
  font-size: 48px;
  @include mixins.tablet {
    font-size: 72px;
    &:after {
      content: ".";
      color: colors.$secondary;
      font-size: 48px;
    }
  }
  &:after {
    content: ".";
    color: colors.$secondary;
    font-size: 72px;
  }
}

.landingDescription {
  font-size: $xx-large;
  font-weight: 400;
  color: colors.$gray;
  @include mixins.tablet {
    max-width: 600px;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(2%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
