@use '/src/styles/colors' as colors;
@use '/src/styles/font-size' as *;

.landingHomeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 1s ease-in-out slidein;
  height: 100dvh;
}

.landingDescriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.landingIllustrationContainer {
}

.landingTitle {
  font-size: 72px;
}

.landingDescription {
  font-size: $xx-large;
  font-weight: 400;
  color: colors.$gray;
  width: 600px;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(2%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}