@use '/src/styles/mixin' as mixins;
@use '/src/styles/colors' as colors;
@use '/src/styles/font-size' as fontsize;

.testimonialsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding: 64px 32px;
  @include mixins.tablet {
    padding: 64px 128px;
  }
}

.title {
  font-size: fontsize.$xx-large;
  text-align: center;
  @include mixins.tablet {
    font-size: 72px;
  }
}

.highlight {
  text-decoration: underline colors.$yellow;
}

.testimonialContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: colors.$white;
  color: colors.$black;
  border-radius: 16px;
  padding: 32px;

}

.description {
  font-size: fontsize.$large;;
  line-height: 1.5;
}

.avatarContainer {
  display: flex;
  align-items: center;
  @include mixins.tablet {
    margin-left: auto;
  }
}

.personContainer {
  margin-left: 16px;

}

.name {
  font-size: fontsize.$large;;
  font-weight: 700;
}


.position {
  padding-right: 4px;
  &:after {
    content: ","
  }
}

.company {

}
