@use 'src/styles/mixin' as mixins;
@use 'src/styles/colors' as colors;
@use 'src/styles/font-size' as fontsize;

.hamburgerContainer {
  @include mixins.tablet {
    display: none;
  }
}
.navigationLinkContainer {
  display: flex;
  flex-direction: column;
  bottom: 0;
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  padding: 16px;
  z-index: 1;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.navigationLinkList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: fontsize.$xx-large;
  & a {
    animation: 0.5s ease-in-out slidein;
  }
}

.isClosed {
  display: none;
}

@keyframes slidein {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0%);
  }
}