@use 'src/styles/colors' as colors;
@use 'src/styles/mixin' as mixin;
@use 'src/styles/font-size' as fontsize;

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  padding: 16px;
  @include mixin.tablet {
    flex-direction: row;
  }
}

.writeupContainer {
  @include mixin.vStack;
  gap: 16px;
  @include mixin.tablet {
    width: 500px;
  }


}

.title {
  font-size: fontsize.$x-large;
  @include mixin.tablet {
    font-size: fontsize.$xx-large;
  }
}

.description {
  font-size: fontsize.$large;
  font-weight: 500;
  @include mixin.tablet {
    font-size: fontsize.$x-large;
  }

}

