@use 'src/styles/colors';

:root {
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: colors.$primary;
  color: colors.$white;
}

button {
  background: inherit;
  border:none;
  box-shadow:none;
  border-radius:0;
  padding:0;
  overflow:visible;
  cursor:pointer
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

