@use 'src/styles/colors' as colors;
@use 'src/styles/mixin' as mixin;
@use 'src/styles/font-size' as fontsize;

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputContainer {

}
