@use '/src/styles/mixin' as mixins;
@use '/src/styles/font-size' as *;
@use '/src/styles/colors' as colors;

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 32px;
  background: linear-gradient(to bottom, #464F69, colors.$primary 30%);
}

.footerNavigationContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  color: colors.$gray;
  @include mixins.tablet {
    flex-direction: row;
    gap: 16px;
  }
}

.footerLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  font-size: $small;
}