@use '/src/styles/colors' as colors;

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  border-top: 1px solid colors.$white;
  background: linear-gradient(colors.$primary, colors.$gray 590%);

}